html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------responsive images--------- */

img {
    max-width:100%;
}

  /* ---------background images--------- */

body{
    background-color: #fff;
    margin:0;
    
}

  /* --------utility styles-------- */

.container{
    width:80vw;
    margin:40px auto;
}

.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border: 4px double #20627d;
    padding: 5px;
}

.img-left {
    float:left;
    margin: 10px 20px 10px 0px;
    padding: 5px;
}

.img-center {
    display: block;
    padding: 5px;
    margin: 20px auto;
    padding: 5px;
}

/*-----global styles------*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2.3rem;
    text-align: left;
}

h2 {
    color: #012030;
    font-size: 1.9rem;
    text-align:left;
}

header.primary{
    color:#ffffff;
    text-align:center;
    padding:30px;
    background-color:#012030;
}

header.primary h1 a {
    color:#D8EBF2;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.7rem;
    margin-bottom: 60px;
    color: #D8EBF2;
}

header.primary nav{
    max-width:900px;
    text-align: left;
 
}


header.primary nav a {
    color:#fff;
    font-size: 1rem;
   
}