



















































/*------galactic color scheme from adobe color
Color Theme Swatches in Hex
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-1-hex { color: #9879D9; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-2-hex { color: #3C308C; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-3-hex { color: #090826; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-4-hex { color: #151859; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-5-hex { color: #0F1140; }

Color Theme Swatches in RGBA
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-1-rgba { color: rgba(151, 121, 216, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-2-rgba { color: rgba(60, 47, 140, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-3-rgba { color: rgba(8, 7, 38, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-4-rgba { color: rgba(20, 23, 89, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-5-rgba { color: rgba(14, 17, 63, 1); }

Color Theme Swatches in HSLA
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-1-hsla { color: hsla(258, 55, 66, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-2-hsla { color: hsla(247, 49, 36, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-3-hsla { color: hsla(241, 66, 9, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-4-hsla { color: hsla(236, 62, 21, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-5-hsla { color: hsla(236, 62, 15, 1); }

-------*/