@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* SpaceX Stylesheet v1*/

/* ---------box sizing--------- */

html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------responsive images--------- */

img {
    max-width:100%;
    height: auto;
}

/* --------utility styles-------- */

.container{
    width:80vw;
    margin:10px auto;
}

.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border: 4px double #20627d;
    padding: 5px;
}

.img-left {
    float:left;
    margin: 10px 20px 10px 0px;
    border: 4px double #20627d;
    padding: 5px;
}

.img-center {
    display: block;
    padding: 5px;
    margin: 20px auto;
    border: 4px double #20627d;
    padding: 5px;
}

/* ---------global styles--------- */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

header.primary {
    color: #fff;
    margin: 0px;
    background-image: url("../img/spacex-crew-dragon-flight-hero.jpg");
    background-size: cover;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 100vh;
}

header.primary h1 a {
    background: url("../img/spacex-logo.png") no-repeat;
    display: block;
    margin: 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header.primary h2 {
    font-size: 1.4rem;
    text-shadow: 2px 2px 10px #000000;
}

header.primary nav{
    display: block;
    
}

header.primary nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav a {
    color:#fff;
    font-size: 1rem;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0,.2);
    padding:8px 16px;
    transition: .4s;
    border: 1px solid #9879D9;
}

header.primary nav a:hover,
header.primary nav a:active
{
    background-color:rgba(0,0,0,.6);
}

h1 {
    font-family: 'MuseoModerno', sans-serif;
    margin: 0px;
}


/*------galactic color scheme from adobe color
Color Theme Swatches in Hex
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-1-hex { color: #9879D9; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-2-hex { color: #3C308C; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-3-hex { color: #090826; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-4-hex { color: #151859; }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-5-hex { color: #0F1140; } Teal

Color Theme Swatches in RGBA
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-1-rgba { color: rgba(151, 121, 216, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-2-rgba { color: rgba(60, 47, 140, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-3-rgba { color: rgba(8, 7, 38, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-4-rgba { color: rgba(20, 23, 89, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-5-rgba { color: rgba(14, 17, 63, 1); }

Color Theme Swatches in HSLA
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-1-hsla { color: hsla(258, 55, 66, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-2-hsla { color: hsla(247, 49, 36, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-3-hsla { color: hsla(241, 66, 9, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-4-hsla { color: hsla(236, 62, 21, 1); }
.The-deep-indigo-and-purple-of-the-galactic-magnetic-fields-glimmer-and-sparkle-as-they-interact-with-gaseous-particles-forming-a-web-of-energy-and-light.-Tiny-stars-flicker-in-and-out-of-existence-and-5-hsla { color: hsla(236, 62, 15, 1); }

-------*/